#########
# OPENAI CONFIG
#########
OPENAI_API_KEY= # Your OpenAI API key for authentication
OPENAI_MODELS= # List of OpenAI models available in the dropdown (e.g., gpt-4o, gpt-3.5-turbo)

#########
# GCP CONFIG (Including OIDC Details)
#########
GCP_MODELS= # List of available GCP AI models for use (e.g., gemini-2.0-flash-exp, gemini-1.5-pro-002)
OIDC_URL= # OpenID Connect (OIDC) authentication endpoint for GCP
GOOGLE_APPLICATION_CREDENTIALS= # Path to the GCP service account JSON credentials file
GOOGLE_CLOUD_PROJECT= # GCP project ID associated with the AI services
GCP_CLIENT_ID= # OAuth2 client ID for the GCP service account
GCP_CLIENT_SECRET= # OAuth2 client secret for the GCP service account

#########
# AZURE CONFIG
#########
AZURE_OPENAI_ENDPOINT= # Azure OpenAI API endpoint (e.g., https://your-resource-name.openai.azure.com/)
AZURE_OPENAI_API_KEY= # API key for accessing Azure OpenAI services
AZURE_AUTH_TYPE= # Authentication type for Azure either entra_id or api_key (default: api_key)
AZURE_OPENAI_DEPLOYMENT= # Name of the Azure OpenAI model deployment (e.g., gpt-4o)
AZURE_OPENAI_API_VERSION= # Azure API version for OpenAI services (e.g., 2024-05-01-preview)
AZURE_MODELS= # List of Azure OpenAI models available in the dropdown

#########
# OLLAMA CONFIG
#########
OLLAMA_MODELS= # List of available Ollama models for use (e.g., llama3.2)
OLLAMA_URL= # URL for the local Ollama API (e.g., http://localhost:11434/api/chat)
